body{
    margin: 0;
    padding: 0;
}

#main{
    height: 50vh;
    /* width: 350px; */
    display: grid;
    background-color: aqua;
    grid-template-areas: 
    "name name" 
    "s b" 
    "p p"
    "sub sub";
    
}
.input{
    height: 25px;
    text-align: start;
    text-anchor: start; 
}
#name{
    grid-area: n
}
#salary{
    grid-area: s
}
#birthday{
    grid-area: b
}
#phone{
    grid-area: p
}
#submit{
    grid-area: sub
}